<header>
	<p>Please login to proceed.</p>
</header>
<form>
	<fieldset>
		<label for=login-email>Email address</label>
		<p><input type=email id=login-email></p>
	</fieldset>
	<fieldset>
		<label for=login-password>Password</label>
		<p><input type=password id=login-password></p>
	</fieldset>
	<fieldset class="is-grouped">
		<p><button type=submit class="is-primary">Login</button></p>
		<p><button type=reset class="is-light">Cancel</button></p>
	</fieldset>
</form>
