<div class="modal-background"></div>
{{#wrap}}{{#content}}
<div class="modal-content"></div>
{{/content}}{{#card}}
<div class="modal-card"></div>
{{/card}}{{/wrap}}
{{#allowClose}}
<button class="modal-close is-large" aria-label="close"></button>
{{/allowClose}}
